html {
    scroll-behavior: smooth !important;
}

body {
    scroll-behavior: smooth !important;
}
  
h1 {
    font-family: Bebas Neue;
    font-size: 9VW !important;
    font-weight: 300 !important;
    color: white;
}

h2 {
    font-family: Bebas Neue;
    font-size: 2VW !important;
    font-weight: 300 !important;
    color: black;
}

h3 {
    font-family: Lato;
    font-size: 4VW !important;
    font-weight: 300 !important;
    color: white;
}

label {
    font-family: Lato !important;
}

a {
    text-decoration: none !important;
    color: black !important;
}

.container {
    height: 100vh;
    position: relative;
}

#animation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* animation grid tiles */
#animation div {
    width: 4VW;
    height: 4VW;
    background: linear-gradient(30deg, rgb(233, 233, 233) 20%,rgb(255, 255, 255) 90%);
    border-radius: 50%;
    border: 2px solid white; 
    z-index: 0 !important
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
}

.myName {
    z-index: 1 !important;
    color: #000000 !important;
    display: inline-block;
}

#pageLinks {
    text-align: center;
}

.project {
    box-shadow: inset 0 0 0 0 #FF8300;
	-webkit-transition: all ease 0.8s;
}

.project:hover {
    box-shadow: inset 35rem 0 0 0.05px #FF8300;
}

.projectGridElement { 
    margin-left: 5px;
    color: black
}

.turnWhite {
    -webkit-transition: all ease .5s;
}

.turnWhite:hover {
    color: white;
}

.lang {
    animation: rotation 10s infinite linear;
}

.lang:hover{
    animation: bigger .5s forwards;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

@keyframes bigger {
    from {
      height: 100px;
    }
    to {
      height: 130px;
    }
}

input {
    border-width: 0 0 1px 0 !important;
    border-color:white !important;
    font-size: 5VW !important;
    background: none !important;
    border-radius: 0% !important;
    color: white !important;
    font-family: Lato !important;
    max-width: 70VW;
    margin: auto !important;
    z-index: -1 !important;
}

textarea {
    border-width: 0 0 1px 0 !important;
    border-color:white !important;
    font-size: 3VW !important;
    color: white !important;
    background: none !important;
    border-radius: 0% !important;
    resize: none !important;
    max-width: 70VW;
    height: 150px;
    margin: auto !important;
}

/*placeholder text in input/textarea*/
::placeholder {
    color: white !important;
    font-size: 5VW !important;
}

/* make placeholder text transparent on focus */
input:focus::placeholder {
    color: transparent !important;
}

textarea:focus::placeholder {
    color: transparent !important;
}

#contactForm{
    position: relative;
    top: -14VW;
}

#submitButton {
    position: relative;
    bottom: 45VH;
    z-index: 1;
    background-color: transparent !important;
    border-radius: 0px;
    border: 1px solid white !important;
    font-size: 15px;
    font-family: Lato;
    font-weight: 100;
    padding: 15px;
    height: 3.5rem;
    width: 8rem;
    display: None;

    box-shadow: inset 0 0 0 0 #FFFFFF;
    -webkit-transition: all ease 1.5s;
}

#submitButton:hover {
    box-shadow: inset 35rem 0 0 0px #FFFFFF;
    color: #FF8300;
    font-size: 13px;
}

#prevButton {
    display: none;
}

/* SCROLLBAR in contactMe textarea */
::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(207, 207, 207, 0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-resizer {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(202, 202, 202, 0.801); 
    -webkit-box-shadow: inset 0 0 6px rgba(197, 197, 197, 0.5); 
}

.invalidMessage {
    color: white;
    visibility: hidden;
    margin: auto !important;
    max-width: 70VW;
}

.grow { 
    transition: all .2s ease-in-out; 
}
.grow:hover { 
    transform: scale(1.5); 
}

.builtWith {
    font-size: 15px;
    font-family: Lato;
    color: white;
    text-align: right;
    font-weight: 300;
    margin-right: 5px;
}

#landingPage {
    background-color: white
}

#aboutMeLink{
    margin-right: 2VW;
}

#projectsLink{
}

#contactMeLink{
    margin-left: 2VW;
}

#aboutMe {
    background-color: rgb(44, 44, 44)
}

#aboutMeHeader {
    text-align: left;
    color: white;
    margin-top: 2rem
}

#pythonImg{
    margin-left: 10rem;
    margin-top: 4rem
}

#jsImg{
    margin-left: 15rem
}

#nodeImg{
    margin-left: 5rem 
}

#projects{
    background-color: white
}

#projectsHeader{
    color: black;
    margin-top: 2rem
}

#contactMe{
    background-color: #FF8300
}

#contactMeHeader{
    text-align: left;
    color:white
}

.postFormMsg {
    margin-top: 5VW;
    text-align: center !important;
}